<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  {{!-- adsbygoogle --}}
  <script data-ad-client="ca-pub-1044322610224848" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Bootstrap CSS -->
  {{!--
  <link rel="icon" type="jpg" href="/images\icon.jpg"> --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="icon" href="">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Malayalam&display=swap" rel="stylesheet">
</head>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Malayalam:wght@400;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
  integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BCB39KBWPW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'G-BCB39KBWPW');
</script>


<body>








  <div class="nav">
    <div class="top-div">
      <a href="/users/">
        <h4 class="head-ask">Ask..</h4>
      </a>

      <a href="/users/ask" class="btn signup-btn">Ask Now</a>
    </div>
  </div>



  {{{body}}}

  {{!-- <div class="share-btn">
    <a class="btn-vk" data-id="vk">VK</a>
    <a class="btn-facebook" data-id="fb">Facebook</a>
    <a class="btn-twitter" data-id="tw">Twitter</a>
    <a class="btn-telegram" data-id="tg">Telegram</a>
    <a class="btn-mail" data-id="mail">EMail</a>
  </div> --}}

  <div class="bottom-div">
    <a style="color: black;" href="/admin">admin</a>
  </div>

  <script src="//cdn.jsdelivr.net/npm/share-buttons/dist/share-buttons.js"></script>

  <style>
    .head-ask {
      color: linear-gradient(90deg,
          rgba(93, 12, 255, 1) 0%,
          rgba(155, 0, 250, 1) 100%);
    }

    .share-btn>a {
      border: 1px solid #ccc;
      padding: 5px;
      font-size: 12px;
      font-family: Verdana, Arial;
    }

    .share-btn>a:hover {
      cursor: pointer;
    }

    .tags a {
      margin-left: 10px;
      font-weight: 600;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: green;
    }

    .bottom-div {
      height: 5%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 0;
    }

    a,
    a:hover {
      text-decoration: none;
    }

    .top-div img {
      position: absolute;
      top: 15px;
      right: 20px;
      border-radius: 100px;
      width: 40px;
      height: 40px;
    }

    .signup-btn {
      position: absolute;
      font-family: Arial, Helvetica, sans-serif;
      top: 15px;
      right: 10px;
      height: 40px;
      font-weight: 600;
      background: linear-gradient(90deg,
          rgba(93, 12, 255, 1) 0%,
          rgba(155, 0, 250, 1) 100%);
      color: white;
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .search-btn {
      position: absolute;
      top: 15px;
      right: 25%;
      width: 5%;
      height: 40px;
      font-weight: 600;
      font-size: 16px;
      color: #000000;
      border: none;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
    }

    .top-div h4 {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 900;
      color: #000000;
      padding: 20px;
      padding-left: 5%;
    }

    .top-div {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 70px;
      background-color: white;
  </style>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>